---
import Logo1 from "./Logo1.astro";
import Logo2 from "./Logo2.astro";
import Logo3 from "./Logo3.astro";
import SponsorAd from "./SponsorAd.astro";
---

<section class="docs-home-container my-12 py-6 md:py-12">
  <div class="mx-auto max-w-4xl text-center">
    <h2 class="text-muted-foreground mb-6 text-lg md:text-xl">Thanks to our supporters</h2>
    <div class="grid grid-cols-2 items-center justify-items-center gap-x-8 gap-y-4 md:grid-cols-4">
      <Logo1 />
      <Logo3 />
      <Logo2 />
      <SponsorAd />
    </div>
  </div>
</section>
